# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Kotlin metadata cache
.kotlin/

# IDE
.idea/
*.iml
*.iws
*.ipr
.DS_Store

# Kotlin
*.class
*.log
*.ctxt

# Android
local.properties
*.apk
*.aab
*.ap_

# Secrets
*.keystore
*.jks
*.env

# OS
Thumbs.db
